<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite>
            <file>./tests/SolidFrameworkTest.php</file>
            <!--<directory>./tests/Post</directory>-->
        </testsuite>
    </testsuites>
</phpunit>
